@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/images/logout.png" style="max-height:5rem" />
                </div>
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">You have successfully logged out of the application.</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }
    
    [Inject]
    public required IHttpContextAccessor HttpContextAccessor { get; set; }

    protected override async Task OnInitializedAsync()
    {
          //base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }

}